<div class="container py-4">
    <ul class="nav gap-2">
        <li class="nav-item"  [setBackground]="'red'" [color]="'white'" >{{prod.gender}}</li>
        <li class="nav-item"  [setBackground]="'yellow'" [color]="'red'">{{prod.brand}}</li>
        <li class="nav-item"  [setBackground]="'red'" [color]="'white'">{{prod.category}}</li>
    </ul>
</div>

<!-- <div class="row justify-content-center d-none" >
    <div class="col-md-5">
        <div class="card  " appHover>
            <div class="card-body " >
                <p >You should also be familiar with usage of command line interface (CLI) tools and have a general understanding of command shells. Knowledge of TypeScript is helpful, but not required.</p>
            </div>
        </div>
    </div>
</div> -->


<button class="btn" appHover>Add To Cart</button>

<input type="text" appHover >
